#who {
  background: yellow;
  width: 90%;
  margin-left: 5%;
}

#who h1, #who h3 {
  text-align: center;
  position: relative;
}

#who h1 {
  top: 38px;
}

#who h3 {
  top: -38px;
}

#who h1::after {
  content: "";
  border-bottom: 2px solid #000;
  display: block;
  width: 180px;
  position: absolute;
  left: 50%;
  margin-left: -90px;
}

.col-left {
  width: 60%;
}

.col-right {
  width: 40%;
  margin: 0px;
}

.col-right, .col-left {
  display: inline-block;
  vertical-align: top;
}

.tab {
  border: 1px dotted red;
  display: none;
}

.selected {
  display: block;
}
