nav div {
  display: inline-block;
  vertical-align: middle;
}

.container {
  margin-left: 8%;
  margin-right: 8%;
}

nav div:first-child {
  width:30%;
  font-size: 33px;
 }

 nav div:last-child {
   width: 70%;
   text-align: right;
 }

nav {
  padding-top: 1%;
  padding-bottom: 1%;
}

nav div:last-child a {
  margin-left: 2.5%;
  font-size: 15px;
}

nav div:last-child a:first-child {
  display: none;
}
